.1-pad {
padding: 1em;
}

nav, #helpmenu {
margin-left: 1em;
margin-top: 5em;
}

#items {
margin-left: 2em;
}

ul {
list-style-type: none;
}

.host.down {
font-weight: lighter;
background-color: gainsboro;
}

.host.requested {
font-weight: lighter;
background-color: gainsboro;
}

dl.hostview dt{
display: none;
}

dl.hostview dd{
padding: 1em 1em 1em 2em;
}

dl.publickey dd{
font-family: monospace;
padding: 3em 2em 1em 1em;
width: 40em;
word-wrap: break-word;
}

dt {
clear: left;
color: green;
float: left;
text-align: right;
text-shadow: 0px 1px 1px #555;
text-transform:capitalize;
width: 100px;
}

dt:after {
content: ":";
}

dl.membershipview dd {
margin: 0 0 0 9em;
padding: 0 0 0.5em 0;
}
