.1-pad {
padding: 1em;
}

nav, #helpmenu {
margin-left: 1em;
margin-top: 5em;
}

#items {
margin-left: 2em;
}

#options ul {
list-style-type: none;
}

.host.down {
font-weight: lighter;
background-color: gainsboro;
}

.publickey {
font-family: monospace;
padding: 3em 2em 1em 1em;
width: 40em;
word-wrap: break-word;
}

.host.requested {
font-weight: lighter;
background-color: gainsboro;
}

dl.membership dd{
padding: 1em 1em 1em 2em;
}
